body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    margin:10px 0px 0px 5px;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}
.nav-link {
    color: #fff !important;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif !important;

}
.nav-link:hover {
    color: #000000 !important;
    background-color: #eebb4d;
}

#cont {
   position: relative;
    padding: 10% 15%;
    color: #eebb4d;
    background-color: #222831;
    
}
h1 {
    
    font-family: 'Montserrat';
}
@media (max-width:900px){
    #cont {
        position: relative;
         padding: 20% 14% 7% 3%;
         color: #eebb4d;
    background-color: #222831;
   text-align: center;
         
     }
    .soft{
        width: 100%;
       margin-top: 20px;
     }
}
p{
    font-size: 20px;
    color: #fff;
}
.soft{
    border: #161514 2px solid;
   width: 120%;
  
}

#cards {
    background-color: #fbd46d;
    padding: 5%;
}
.title{
    text-align: center;
}
.card{
    padding: 2px;
    background-color: #1b262c !important;
    text-align: center;
}
.clearn {
    margin: 7px 5px;
}
.card-header {
    color: #dddddd;
}
.card-title {
    color: #fff !important;
}

.btn-dark{
    background-color: #dddddd !important;

}
a {
    color:#fff !important;
    text-decoration: none !important;
    font-weight: bold;
}
.btntitle {
    background-color: #0c0c0b !important;
    font-weight: bold !important;
}
.btntitle:hover {
    background-color: #eeeeee !important;
   color: #000000 !important;
}
.btnfile a {
    color: #000000 !important;
}
.btntitle a:hover {
    color: #000000 !important; 
}
#learn {
    background-color: #e8e8e8;
    padding: 5%;
}
#footer {
    background-color: #222831;
    color: #bbd196;
    padding: 3% 15%;
    text-align: center;
}
.pfoot {
    font-size: 15px;
}